<div class="owner-horse-background">
    <div id="row">
        <div id="col-1">
            <h3>Stable Manager Input Horse Data</h3>
            <form class="validateForm">
                <div class="style">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="style">
                    <label for="barn">Barn Name</label>
                    <input type="text" id="barn" name="barn">
                </div>
                <div class="style">
                    <label for="sex">Sex</label>
                    <select name="sex" id="sex">
                        <option selected hidden disabled> Select Option</option>
                        <option value="Gelding">Gelding</option>
                        <option value="Mare">Mare</option>
                        <option value="Stallion">Stallion</option>
                    </select>
                </div>
                <div class="style">
                    <label for="breed">Breed</label>
                    <input type="text" id="breed" name="breed">
                </div>
                <div class="style">
                    <label for="color">Color</label>
                    <input type="text" id="color" name="color">
                </div>
                <div class="style">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description">
                </div>
                <div class="style">
                    <label for="chipped">Chipped</label>
                    <select name="chipped" id="chipped">
                        <option selected hidden disabled> Select Option</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="style">
                    <label for="tattooed">Tattooed</label>
                    <select name="tattooed" id="tattooed" class="style">
                        <option selected hidden disabled> Select Option</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="style">
                    <label for="vet">Preferred Veterinarian</label>
                    <input type="text" id="vet" name="vet">
                </div>
                <div class="style">
                    <label for="farrier">Preferred Farrier</label>
                    <input type="text" id="farrier" name="farrier">
                </div>
                <div class="style">
                    <label for="date">Vaccination Date</label>
                    <input type="date" id="date" name="date">
                </div>
                <div class="style">
                    <label for="type">Vaccination Type</label>
                    <input type="text" id="type" name="type">
                </div>
                <div class="style">
                    <label for="in">Move In Date</label>
                    <input type="date" id="in" name="in">
                </div>
                <div class="style">
                    <label for="stall">Stall Assignment</label>
                    <input type="text" id="stall" name="stall">
                </div>
                <div class="style">
                    <label for="quarantine">Quarantine</label>
                    <select name="quarantine" id="quarantine">
                        <option selected hidden disabled> Select Option</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="style">
                    <label for="out">Move Out Date</label>
                    <input type="date" id="out" name="out">
                </div>
                <div class="style">
                    <label for="owner">Owner Id</label>
                    {{!-- <input type="text" id="owner" name="owner"> --}}
                    <select name="owner" id="owner">
                        <option selected hidden disabled> Select Option</option>
                        {{#each owners}}
                        <option value={{this.id}}>{{this.id}}. {{this.firstName}} {{this.lastName}}</option>
                        {{/each}}
                    </select>
                </div>
                <button id="submit-owner-horse">Submit</button>
            </form>
        </div>
        <div id="col-2">
            <h3>Horses List</h3>
            <table>
                <thead>
                    <tr>
                        {{!-- <th>Owner Id</th> --}}
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Update Data</th>
                        <th>Delete Horse</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each horses}}
                    <tr data-id="{{this.id}}">
                        {{!-- <th>{{this.ownerID}}</th> --}}
                        <td>{{this.name}}</td>
                        <td>{{this.barnName}}</td>
                        <td><a href="horse/{{this.id}}">Update Data</a></td>
                        <td><a class="delete">Delete Horse</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="nav-horse" id="nav">
            <div class="navIn" id="navIn">
                <div class="navOut" id="navOut">
                    <ul class="menu menu-hover-lines">
                        <div class="navHome">
                            <li class=""><a href="/owner">Owners Data | </a></li>
                        </div>
                        <div class="navLogOut">
                            <li id="nav-margin"><a href="/">Log Out</a></li>
                            {{!-- <li id="nav-margin"><button id="btn-logout" onclick="logout()" style="color: white;"> LOG OUT</button></li> --}}
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/horses.js"></script>
<script src="/js/auth.js"></script>
